.vscode
.idea
.infracost

node_modules
dist

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

**/**/*.tfstate
**/**/*.tfvars
**/**/*.out
**/**/*.terraform.*
**/**/*.tfvars
*.out
*.pem
*.pfx

**/**/specification.pdf
**/specification.docx
.DS_Store
**/**/*.bkp